.hello {
    text-align: center;
    font-size: 14pt;
}

footer {
    background-color: #111111;
}

.copyright {
    color: whitesmoke;
    text-align: center;
    background-color: #111111;
    padding: 15px 10px 10px 10px;
}

.copyright h4 {
    font-size: 18px;
}